# Data Cleaning

The dataset we are using can be downloaded from the below link.<br>
http://cs.stanford.edu/people/alecmgo/trainingandtestdata.zip

More info on the dataset can be found from the below link.<br>
http://help.sentiment140.com/for-students/<br>

By looking at the description of the dataset from the link, the information on each field can be found.

0 - the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)<br>
1 - the id of the tweet (2087)<br>
2 - the date of the tweet (Sat May 16 23:58:44 UTC 2009)<br>
3 - the query (lyx). If there is no query, then this value is NO_QUERY.<br>
4 - the user that tweeted (robotickilldozr)<br>
5 - the text of the tweet (Lyx is cool)

## First look at the data

In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt

First, columns names have been assigned to each column.

In [2]:
cols = ['sentiment','id','date','query_string','user','text']

In [4]:
df = pd.read_csv("./trainingandtestdata/training.1600000.processed.noemoticon.csv",header=None, names=cols, encoding='ISO-8859-1')

In [5]:
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
sentiment       1600000 non-null int64
id              1600000 non-null int64
date            1600000 non-null object
query_string    1600000 non-null object
user            1600000 non-null object
text            1600000 non-null object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [7]:
df.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

Dataset has 1.6million entries, with no null entries, and importantly for the "sentiment" column,
even though the dataset description mentioned neutral class, the training set has no neutral class.
50% of the data is with negative label, and another 50% with positive label.
We can see there's no skewness on the class division.

In [8]:
df.query_string.value_counts()

NO_QUERY    1600000
Name: query_string, dtype: int64

In [9]:
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [10]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [11]:
df[df.sentiment == 0].head(10)

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....
5          0                      @Kwesidei not the whole crew
6          0                                        Need a hug
7          0  @LOLTrish hey  long time no see! Yes.. Rains a...
8          0               @Tatiana_K nope they didn't have it
9          0                          @twittera que me muera ?

In [12]:
df[df.sentiment == 4].head(10)

        sentiment                                               text
800000          4       I LOVE @Health4UandPets u guys r the best!!
800001          4  im meeting up with one of my besties tonight! ...
800002          4  @DaRealSunisaKim Thanks for the Twitter add, S...
800003          4  Being sick can be really cheap when it hurts t...
800004          4    @LovesBrooklyn2 he has that effect on everyone
800005          4  @ProductOfFear You can tell him that I just bu...
800006          4  @r_keith_hill Thans for your response. Ihad al...
800007          4  @KeepinUpWKris I am so jealous, hope you had a...
800008          4  @tommcfly ah, congrats mr fletcher for finally...
800009          4  @e4VoIP I RESPONDED  Stupid cat is helping me ...

By looking at some entries for each class, it seems like that all the negative class is from 0~799999th index,
and the positive class entries start from 800000 to the end of the dataset.

In [13]:
df[df.sentiment == 0].index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            799990, 799991, 799992, 799993, 799994, 799995, 799996, 799997,
            799998, 799999],
           dtype='int64', length=800000)

In [14]:
df[df.sentiment == 4].index

Int64Index([ 800000,  800001,  800002,  800003,  800004,  800005,  800006,
             800007,  800008,  800009,
            ...
            1599990, 1599991, 1599992, 1599993, 1599994, 1599995, 1599996,
            1599997, 1599998, 1599999],
           dtype='int64', length=800000)

In order for the computation, I mapped the class value of 4(positive) to 1.

In [15]:
df['sentiment'] = df['sentiment'].map({0: 0, 4: 1})

In [16]:
df.sentiment.value_counts()

1    800000
0    800000
Name: sentiment, dtype: int64

# Data Preprocessing

As a way of sanity check, let's look at the length of the string in text column in each entry.

In [17]:
df['pre_clean_len'] = [len(t) for t in df.text]

In [20]:
df[df.pre_clean_len > 140].head(10)

,sentiment,text,pre_clean_len
213,0,Awwh babs... you look so sad underneith that s...,142
226,0,Tuesdayï¿½ll start with reflection ï¿½n then a...,141
279,0,Whinging. My client&amp;boss don't understand ...,145
343,0,@TheLeagueSF Not Fun &amp; Furious? The new ma...,145
400,0,#3 woke up and was having an accident - &quot;...,144
464,0,"My bathtub drain is fired: it haz 1 job 2 do, ...",146
492,0,"pears &amp; Brie, bottle of Cabernet, and &quo...",150
747,0,Have an invite for &quot;Healthy Dining&quot; ...,141
957,0,Damnit I was really digging this season of Rea...,141
1064,0,Why do I keep looking...I know that what I rea...,141

## Data Preprocessing 1: HTML decoding

It looks like HTML encoding has not been converted to text, and ended up in text field as '&amp','&quot',etc.<br>
Decoding HTML to general text will be my first step of data preparation.
I will use BeautifulSoup for this.

In [21]:
df.text[279]

"Whinging. My client&amp;boss don't understand English well. Rewrote some text unreadable. It's written by v. good writer&amp;reviewed correctly. "

In [23]:
from bs4 import BeautifulSoup
example1 = BeautifulSoup(df.text[279], 'lxml')
print(example1.get_text())

Whinging. My client&boss don't understand English well. Rewrote some text unreadable. It's written by v. good writer&reviewed correctly.

## Data Preparation 2: @mention

The second part of the preparation is dealing with @mention.<br>
Even though @mention carries a certain information (which another user that the tweet mentioned),
this information doesn't add value to build sentiment analysis model.

In [24]:
df.text[343]

'@TheLeagueSF Not Fun &amp; Furious? The new mantra for the Bay 2 Breakers? It was getting 2 rambunctious;the city overreacted &amp; clamped down '

In [25]:
import re
re.sub(r'@[A-Za-z0-9]+','',df.text[343])

' Not Fun &amp; Furious? The new mantra for the Bay 2 Breakers? It was getting 2 rambunctious;the city overreacted &amp; clamped down '

## Data Preparation 3: URL links

The third part of the cleaning is dealing with URL links, same with @mention,
even though it carries some information, for sentiment analysis purpose,
this can be ignored.

In [26]:
df.text[0]

"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [27]:
re.sub('https?://[A-Za-z0-9./]+','',df.text[0])

"@switchfoot  - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

## Data Preparation 4: hashtag / numbers

Sometimes the text used with a hashtag can provide useful information about the tweet. It might be a bit risky to get rid of all the text together with the hashtag.<br>
So I decided to leave the text intact and just remove the '#'. I will do this in the process of cleaning all the non-letter characters including numbers.

In [37]:
df.text[175]

"@machineplay I'm so sorry you're having to go through this. Again.  #therapyfail"

In [38]:
re.sub("[^a-zA-Z]", " ", df.text[175])

' machineplay I m so sorry you re having to go through this  Again    therapyfail'

## Data Preparation 5: Handling Contraction

In [11]:
import re
tweet = "Whinging. My client boss don't understand English well. Rewrote some text unreadable. It is written by v. good writer & reviewed correctly."
tweet

"Whinging. My client boss don't understand English well. Rewrote some text unreadable. It is written by v. good writer & reviewed correctly."

In [12]:
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], tweet)
neg_handled

'Whinging. My client boss do not understand English well. Rewrote some text unreadable. It is written by v. good writer & reviewed correctly.'

In [10]:
letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
letters_only

'Whinging  My client boss do not understand English well  Rewrote some text unreadable  It is written by v  good writer   reviewed correctly '

In [ ]:
words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]

# Defining data cleaning function

With above five data cleaning task, I will first define data cleaning function, and then will be applied to the whole dataset. Tokenization, stemming/lemmatization, stop words will be dealt with later stage when creating matrix with either count vectorizer or Tfidf vectorizer.

In [39]:
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

In [40]:
pat1 = r'@[A-Za-z0-9]+'
pat2 = r'https?://[A-Za-z0-9./]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')


def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

In [41]:
testing = df.text[:100]

In [42]:
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))

In [43]:
test_result

['awww that s a bummer you shoulda got david carr of third day to do it d',
 'is upset that he can t update his facebook by texting it and might cry as a result school today also blah',
 'i dived many times for the ball managed to save the rest go out of bounds',
 'my whole body feels itchy and like its on fire',
 'no it s not behaving at all i m mad why am i here because i can t see you all over there',
 'not the whole crew',
 'need a hug',
 'hey long time no see yes rains a bit only a bit lol i m fine thanks how s you',
 'k nope they didn t have it',
 'que me muera',
 'spring break in plain city it s snowing',
 'i just re pierced my ears',
 'i couldn t bear to watch it and i thought the ua loss was embarrassing',
 'it it counts idk why i did either you never talk to me anymore',
 'i would ve been the first but i didn t have a gun not really though zac snyder s just a doucheclown',
 'i wish i got to watch it with you i miss you and how was the premiere',
 'hollis death scene will hurt me severely to watch on film wry is directors cut not out now',
 'about to file taxes',
 'ahh ive always wanted to see rent love the soundtrack',
 'oh dear were you drinking out of the forgotten table drinks',
 'i was out most of the day so didn t get much done',
 'one of my friend called me and asked to meet with her at mid valley today but i ve no time sigh',
 'barista i baked you a cake but i ated it',
 'this week is not going as i had hoped',
 'blagh class at tomorrow',
 'i hate when i have to call and wake people up',
 'just going to cry myself to sleep after watching marley and me',
 'im sad now miss lilly',
 'ooooh lol that leslie and ok i won t do it again so leslie won t get mad again',
 'meh almost lover is the exception this track gets me depressed every time',
 'some hacked my account on aim now i have to make a new one',
 'i want to go to promote gear and groove but unfornately no ride there i may b going to the one in anaheim in may though',
 'thought sleeping in was an option tomorrow but realizing that it now is not evaluations in the morning and work in the afternoon',
 'awe i love you too am here i miss you',
 'i cry my asian eyes to sleep at night',
 'ok i m sick and spent an hour sitting in the shower cause i was too sick to stand and held back the puke like a champ bed now',
 'ill tell ya the story later not a good day and ill be workin for like three more hours',
 'sorry bed time came here gmt',
 'i don t either its depressing i don t think i even want to know about the kids in suitcases',
 'bed class work gym or then class another day that s gonna fly by i miss my girlfriend',
 'really don t feel like getting up today but got to study to for tomorrows practical exam',
 'he s the reason for the teardrops on my guitar the only one who has enough of me to break my heart',
 'sad sad sad i don t know why but i hate this feeling i wanna sleep and i still can t',
 'awww i soo wish i was there to see you finally comfortable im sad that i missed it',
 'falling asleep just heard about that tracy girl s body being found how sad my heart breaks for that family',
 'yay i m happy for you with your job but that also means less time for me and you',
 'just checked my user timeline on my blackberry it looks like the twanking is still happening are ppl still having probs w bgs and uids',
 'oh man was ironing s fave top to wear to a meeting burnt it',
 'is strangely sad about lilo and samro breaking up',
 'oh i m so sorry i didn t think about that before retweeting',
 'broadband plan a massive broken promise via www diigo com tautao still waiting for broadband we are',
 'wow tons of replies from you may have to unfollow so i can see my friends tweets you re scrolling the feed a lot',
 'our duck and chicken are taking wayyy too long to hatch',
 'put vacation photos online a few yrs ago pc crashed and now i forget the name of the site',
 'i need a hug',
 'not sure what they are only that they are pos as much as i want to i dont think can trade away company assets sorry andy',
 'i hate when that happens',
 'i have a sad feeling that dallas is not going to show up i gotta say though you d think more shows would use music from the game mmm',
 'ugh degrees tomorrow',
 'where did u move to i thought u were already in sd hmmm random u found me glad to hear yer doing well',
 'i miss my ps it s out of commission wutcha playing have you copped blood on the sand',
 'just leaving the parking lot of work',
 'the life is cool but not for me',
 'sadly though i ve never gotten to experience the post coitus cigarette before and now i never will',
 'i had such a nice day too bad the rain comes in tomorrow at am',
 'too bad i won t be around i lost my job and can t even pay my phone bill lmao aw shucks',
 'damm back to school tomorrow',
 'mo jobs no money how in the hell is min wage here f n clams an hour',
 'not forever see you soon',
 'algonquin agreed i saw the failwhale allllll day today',
 'oh haha dude i dont really look at em unless someone says hey i added you sorry i m so terrible at that i need a pop up',
 'i m sure you re right i need to start working out with you and the nikster or jared at least',
 'i really hate how people diss my bands trace is clearly not ugly',
 'gym attire today was puma singlet adidas shorts and black business socks and leather shoes lucky did not run into any cute girls',
 'why won t you show my location',
 'no picnic my phone smells like citrus',
 'my donkey is sensitive about such comments nevertheless he d and me d be glad to see your mug asap charger is still awol',
 'no new csi tonight fml',
 'i think my arms are sore from tennis',
 'wonders why someone that u like so much can make you so unhappy in a split seccond depressed',
 'sleep soon i just hate saying bye and see you tomorrow for the night',
 'just got ur newsletter those fares really are unbelievable shame i already booked and paid for mine',
 'missin the boo',
 'me too itm',
 'damn i don t have any chalk my chalkboard is useless',
 'had a blast at the getty villa but hates that she s had a sore throat all day it s just getting worse too',
 'hey missed ya at the meeting sup mama',
 'my tummy hurts i wonder if the hypnosis has anything to do with it if so it s working i get it stop smoking',
 'why is it always the fat ones',
 'sorry babe my fam annoys me too thankfully they re asleep right now muahaha evil laugh',
 'i should have paid more attention when we covered photoshop in my webpage design class in undergrad',
 'wednesday my b day don t know what do',
 'poor cameron the hills',
 'pray for me please the ex is threatening to start sh at my our babies st birthday party what a jerk and i still have a headache',
 'hmm do u really enjoy being with him if the problems are too constants u should think things more find someone ulike',
 'strider is a sick little puppy',
 'so rylee grace wana go steve s party or not sadly since its easter i wnt b able do much but ohh well',
 'hey i actually won one of my bracket pools too bad it wasn t the one for money',
 'you don t follow me either and i work for you',
 'a bad nite for the favorite teams astros and spartans lose the nite out with t w was good']

In [49]:
nums = [0,400000,800000,1200000,1600000]

In [51]:
%%time
print("Cleaning and parsing the tweets...\n")
clean_tweet_texts = []
for i in range(nums[0],nums[1]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[1] ))
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 10000 of 400000 has been processed
Tweets 20000 of 400000 has been processed
Tweets 30000 of 400000 has been processed
Tweets 40000 of 400000 has been processed
Tweets 50000 of 400000 has been processed
Tweets 60000 of 400000 has been processed
Tweets 70000 of 400000 has been processed
Tweets 80000 of 400000 has been processed
Tweets 90000 of 400000 has been processed
Tweets 100000 of 400000 has been processed
Tweets 110000 of 400000 has been processed
Tweets 120000 of 400000 has been processed
Tweets 130000 of 400000 has been processed
Tweets 140000 of 400000 has been processed
Tweets 150000 of 400000 has been processed
Tweets 160000 of 400000 has been processed
Tweets 170000 of 400000 has been processed
Tweets 180000 of 400000 has been processed
Tweets 190000 of 400000 has been processed
Tweets 200000 of 400000 has been processed
Tweets 210000 of 400000 has been processed
Tweets 220000 of 400000 has been processed
Tweets 230000 of 400000 has been processed
Tweets 240000 of 400000 has been processed
Tweets 250000 of 400000 has been processed
Tweets 260000 of 400000 has been processed
Tweets 270000 of 400000 has been processed
Tweets 280000 of 400000 has been processed
Tweets 290000 of 400000 has been processed
Tweets 300000 of 400000 has been processed
Tweets 310000 of 400000 has been processed
Tweets 320000 of 400000 has been processed
Tweets 330000 of 400000 has been processed
Tweets 340000 of 400000 has been processed
Tweets 350000 of 400000 has been processed
Tweets 360000 of 400000 has been processed
Tweets 370000 of 400000 has been processed
Tweets 380000 of 400000 has been processed
Tweets 390000 of 400000 has been processed
Tweets 400000 of 400000 has been processed
CPU times: user 2min 5s, sys: 7.87 s, total: 2min 13s
Wall time: 2min 17s

In [52]:
len(clean_tweet_texts)

400000

In [54]:
%%time
print("Cleaning and parsing the tweets...\n")
for i in range(nums[1],nums[2]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[2] ))
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 410000 of 800000 has been processed
Tweets 420000 of 800000 has been processed
Tweets 430000 of 800000 has been processed
Tweets 440000 of 800000 has been processed
Tweets 450000 of 800000 has been processed
Tweets 460000 of 800000 has been processed
Tweets 470000 of 800000 has been processed
Tweets 480000 of 800000 has been processed
Tweets 490000 of 800000 has been processed
Tweets 500000 of 800000 has been processed
Tweets 510000 of 800000 has been processed
Tweets 520000 of 800000 has been processed
Tweets 530000 of 800000 has been processed
Tweets 540000 of 800000 has been processed
Tweets 550000 of 800000 has been processed
Tweets 560000 of 800000 has been processed
Tweets 570000 of 800000 has been processed
Tweets 580000 of 800000 has been processed
Tweets 590000 of 800000 has been processed
Tweets 600000 of 800000 has been processed
Tweets 610000 of 800000 has been processed
Tweets 620000 of 800000 has been processed
Tweets 630000 of 800000 has been processed
Tweets 640000 of 800000 has been processed
Tweets 650000 of 800000 has been processed
Tweets 660000 of 800000 has been processed
Tweets 670000 of 800000 has been processed
Tweets 680000 of 800000 has been processed
Tweets 690000 of 800000 has been processed
Tweets 700000 of 800000 has been processed
Tweets 710000 of 800000 has been processed
Tweets 720000 of 800000 has been processed
Tweets 730000 of 800000 has been processed
Tweets 740000 of 800000 has been processed
Tweets 750000 of 800000 has been processed
Tweets 760000 of 800000 has been processed
Tweets 770000 of 800000 has been processed
Tweets 780000 of 800000 has been processed
Tweets 790000 of 800000 has been processed
Tweets 800000 of 800000 has been processed
CPU times: user 2min 2s, sys: 7.04 s, total: 2min 9s
Wall time: 2min 11s

In [54]:
len(clean_tweet_texts)

800000

In [55]:
%%time
print("Cleaning and parsing the tweets...\n")
for i in range(nums[2],nums[3]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[3] ))                                                                    
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 810000 of 1200000 has been processed
Tweets 820000 of 1200000 has been processed
Tweets 830000 of 1200000 has been processed
Tweets 840000 of 1200000 has been processed
Tweets 850000 of 1200000 has been processed
Tweets 860000 of 1200000 has been processed
Tweets 870000 of 1200000 has been processed
Tweets 880000 of 1200000 has been processed
Tweets 890000 of 1200000 has been processed
Tweets 900000 of 1200000 has been processed
Tweets 910000 of 1200000 has been processed
Tweets 920000 of 1200000 has been processed
Tweets 930000 of 1200000 has been processed
Tweets 940000 of 1200000 has been processed
Tweets 950000 of 1200000 has been processed
Tweets 960000 of 1200000 has been processed
Tweets 970000 of 1200000 has been processed
Tweets 980000 of 1200000 has been processed
Tweets 990000 of 1200000 has been processed
Tweets 1000000 of 1200000 has been processed
Tweets 1010000 of 1200000 has been processed
Tweets 1020000 of 1200000 has been processed
Tweets 1030000 of 1200000 has been processed
Tweets 1040000 of 1200000 has been processed
Tweets 1050000 of 1200000 has been processed
Tweets 1060000 of 1200000 has been processed
Tweets 1070000 of 1200000 has been processed
Tweets 1080000 of 1200000 has been processed
Tweets 1090000 of 1200000 has been processed
Tweets 1100000 of 1200000 has been processed
Tweets 1110000 of 1200000 has been processed
Tweets 1120000 of 1200000 has been processed
Tweets 1130000 of 1200000 has been processed
Tweets 1140000 of 1200000 has been processed
Tweets 1150000 of 1200000 has been processed
Tweets 1160000 of 1200000 has been processed
Tweets 1170000 of 1200000 has been processed
Tweets 1180000 of 1200000 has been processed
Tweets 1190000 of 1200000 has been processed
Tweets 1200000 of 1200000 has been processed
CPU times: user 2min 4s, sys: 7.21 s, total: 2min 12s
Wall time: 2min 15s

In [56]:
len(clean_tweet_texts)

1200000

In [57]:
%%time
print("Cleaning and parsing the tweets...\n")
for i in range(nums[3],nums[4]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[4] ))                                                                    
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 1210000 of 1600000 has been processed
Tweets 1220000 of 1600000 has been processed
Tweets 1230000 of 1600000 has been processed
Tweets 1240000 of 1600000 has been processed
Tweets 1250000 of 1600000 has been processed
Tweets 1260000 of 1600000 has been processed
Tweets 1270000 of 1600000 has been processed
Tweets 1280000 of 1600000 has been processed
Tweets 1290000 of 1600000 has been processed
Tweets 1300000 of 1600000 has been processed
Tweets 1310000 of 1600000 has been processed
Tweets 1320000 of 1600000 has been processed
Tweets 1330000 of 1600000 has been processed
Tweets 1340000 of 1600000 has been processed
Tweets 1350000 of 1600000 has been processed
Tweets 1360000 of 1600000 has been processed
Tweets 1370000 of 1600000 has been processed
Tweets 1380000 of 1600000 has been processed
Tweets 1390000 of 1600000 has been processed
Tweets 1400000 of 1600000 has been processed
Tweets 1410000 of 1600000 has been processed
Tweets 1420000 of 1600000 has been processed
Tweets 1430000 of 1600000 has been processed
Tweets 1440000 of 1600000 has been processed
Tweets 1450000 of 1600000 has been processed
Tweets 1460000 of 1600000 has been processed
Tweets 1470000 of 1600000 has been processed
Tweets 1480000 of 1600000 has been processed
Tweets 1490000 of 1600000 has been processed
Tweets 1500000 of 1600000 has been processed
Tweets 1510000 of 1600000 has been processed
Tweets 1520000 of 1600000 has been processed
Tweets 1530000 of 1600000 has been processed
Tweets 1540000 of 1600000 has been processed
Tweets 1550000 of 1600000 has been processed
Tweets 1560000 of 1600000 has been processed
Tweets 1570000 of 1600000 has been processed
Tweets 1580000 of 1600000 has been processed
Tweets 1590000 of 1600000 has been processed
Tweets 1600000 of 1600000 has been processed
CPU times: user 1min 56s, sys: 6.29 s, total: 2min 2s
Wall time: 2min 4s

In [58]:
len(clean_tweet_texts)

1600000

## Saving cleaned data as csv

In [59]:
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df['target'] = df.sentiment
clean_df.head()

                                                text  target
0  awww that s a bummer you shoulda got david car...       0
1  is upset that he can t update his facebook by ...       0
2  i dived many times for the ball managed to sav...       0
3     my whole body feels itchy and like its on fire       0
4  no it s not behaving at all i m mad why am i h...       0

In [60]:
clean_df.to_csv('clean_tweet.csv',encoding='utf-8')

In [61]:
csv = 'clean_tweet.csv'
my_df = pd.read_csv(csv,index_col=0)
my_df.head()

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                text  target
0  awww that s a bummer you shoulda got david car...       0
1  is upset that he can t update his facebook by ...       0
2  i dived many times for the ball managed to sav...       0
3     my whole body feels itchy and like its on fire       0
4  no it s not behaving at all i m mad why am i h...       0

In [62]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
text      1596753 non-null object
target    1600000 non-null int64
dtypes: int64(1), object(1)
memory usage: 36.6+ MB

## Null Value Check

In [63]:
my_df[my_df.isnull().any(axis=1)].head()

     text  target
208   NaN       0
249   NaN       0
398   NaN       0
430   NaN       0
1011  NaN       0

## Remove Null Values which are created during cleaning process

In [65]:
my_df.dropna(inplace=True)
my_df.reset_index(drop=True,inplace=True)
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596753 entries, 0 to 1596752
Data columns (total 2 columns):
text      1596753 non-null object
target    1596753 non-null int64
dtypes: int64(1), object(1)
memory usage: 24.4+ MB